/* Colors
Recent: #A3E7FF

Positive: #82C2B6
Negative: #F5890F

Warning: #F5890F
Error: #F52D0F

*/
body {
    background-color: #222;
    color: #fff;

    font-family: 'Source Sans Pro', sans-serif;
}
a {
    color: inherit;
}
a.active, a:active, a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}
i.material-icons {
    font-size: inherit;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #82C2B6;
    border-radius: 3px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 35px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #82C2B6;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #82C2B6;
    border-radius: 3px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 35px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #82C2B6;
    border: 0px solid #000000;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #82C2B6;
    border: 0px solid #000000;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 35px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #82C2B6;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #82C2B6;
  }


.clickable {
    cursor: pointer;
}
.tooltip {
    cursor: default;
}
.table tr:last-child td {
    border-bottom: none;
}
.input-group .input-group-addon {
    background: #444;
    padding: .35rem 1rem;
}

.event-value {
    font-weight: 200;
    text-transform: uppercase;
}

.val-positive,
.val-active {
    color: #82C2B6;
}
.val-positive .bar-item {
    background: #82C2B6;
}
.val-negative {
    color: #F5890F;
}
.val-negative .bar-item {
    background: #F5890F;
}
.val-inactive {
    opacity: .5;
}
.val-temperature--10,
.val-temperature-0,
.val-temperature-10,
.val-temperature-20,
.val-temperature-30 {
    color: #08538C;
}
.val-temperature-40 {
    color: #187CA1;
}
.val-temperature-50 {
    color: #35B4BD;
}
.val-temperature-60,
.val-temperature-70 {
    color: #D2E352;
}
.val-temperature-80 {
    color: #FA9D07;
}
.val-temperature-90,
.val-temperature-100,
.val-temperature-110 {
    color: #B81616;
}

.switch-status .event-value.val-active {
    font-weight: 900;
}

#frame {
    padding: 0 .4rem;
}
.channel-list .column {
    padding: .4rem;
}

.tile.tile-centered .tile-content,
.tile.tile-centered .tile-subtitle,
.tile.tile-centered .tile-title {
    overflow: visible;
    flex-grow: 0;
}

#Timeline .tile {
    font-size: 1.5em;
    line-height: 1.3em;
    padding: .5em;
    margin-bottom: .5em;
}
#Timeline .tile.hidden {
    background-color: #000;
}
#Timeline .tile-icon {
    min-width: 50px;
    max-width: 150px;
}
#Timeline .tile.image_url {
    flex-direction: column;
    align-items: flex-start;
}
#Timeline .tile.image_url .tile-icon {
    max-width: 300px;
}
#Timeline .tile.image_url .tile-content:not(:first-child) {
    padding-left: 0;
    padding-top: .4rem;
}


.eventCard {
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    background-color: #222;
    border-color: #333;
}
.eventCard.hidden {
    background-color: #000;
}
.eventCard .modal .modal-container {
    background-color: #222;
    padding: 0;
    width: auto;
    max-height: 100%;
    overflow: auto;
}
.eventCard .modal .close {
    font-size: 1.2em;
}
.eventCard .modal .modal-overlay {
    background-color: rgba(0,0,0,.75);
}
.eventCard .event-icon {
    position: absolute;
    top: .4rem;
    left: .4rem;
    font-size: 1.25em;
}
.eventCard .event-expand {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25em;
    height: 1.25em;
    font-size: 1.25em;
    text-align: center;
    background-color: #222;
    border-color: #333;
    border-width: 0 0 .05rem .05rem;
    border-style: solid;
    cursor: pointer;
}
.eventCard .event-menu {
    background: #333;
}
.eventCard .event-menu td {
    padding: .3rem;
    text-transform: uppercase;
    cursor: pointer;
}
.eventCard .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.eventCard .card-title {
    font-size: 1.25em;
}
.eventCard .event-value {
    font-size: 2em;
    line-height: 1.2em;
    padding-left: 1.25em;
    padding-right: 1.25em;
}
.eventCard .event-history {
    position: absolute;
    bottom: .8em;
    right: .8em;
    cursor: pointer;
}
.eventCard .history .event-value {
    font-size: 1em;
}
/* .eventCard .event-value.positive,
.eventCard .event-value.active {
    color: #82C2B6;
}
.eventCard .event-value.positive .bar-item {
    background: #82C2B6;
}
.eventCard .event-value.negative {
    color: #F5890F;
}
.eventCard .event-value.negative .bar-item {
    background: #F5890F;
}
.eventCard .event-value.inactive {
    opacity: .5;
}
.eventCard .event-value.temperature--10,
.eventCard .event-value.temperature-0,
.eventCard .event-value.temperature-10,
.eventCard .event-value.temperature-20,
.eventCard .event-value.temperature-30 {
    color: #08538C;
}
.eventCard .event-value.temperature-40 {
    color: #187CA1;
}
.eventCard .event-value.temperature-50 {
    color: #35B4BD;
}
.eventCard .event-value.temperature-60,
.eventCard .event-value.temperature-70 {
    color: #D2E352;
}
.eventCard .event-value.temperature-80 {
    color: #FA9D07;
}
.eventCard .event-value.temperature-90,
.eventCard .event-value.temperature-100,
.eventCard .event-value.temperature-110 {
    color: #B81616;
} */
.eventCard .history,
.eventCard .keyvalue {
    background-color: #222;
    color: #fff;
    table-layout: fixed;
}
.eventCard .history .sparkline text {
    font-size: 8px;
}
.eventCard .history .imagetimeline img {
    max-width: 100%;
}
.eventCard .history .imagetimeline input {
    width: 100%;
}
.text-small {
    font-size: .5em;
    line-height: 1.2em;
}
/*
#frame .navbar {
    margin: 1em;
}
#frame .frame-body {
    padding: 1em;
}
.connection-status {
    margin: 0 1em;
}
.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1em;
}
.flex-list-item {
    flex-basis: 0;
    flex-grow: 0;
    padding: 0 0 1em 1em;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card.sensor {
    min-width: 175px;
    height: 100%;
}
.card.sensor.withHistory {
    min-width: 350px;
}
.sensor .card-title {
    line-height: 1em;
    justify-content: space-between;
}
.sensor.recent .type-icon {
    color: #A3E7FF;
}
.sensor .value {
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
}
.sensor .history .value {
    font-size: 1em;
}
.sensor .value.positive,
.sensor .value.active {
    color: #82C2B6;
}
.sensor .value.negative {
    color: #F5890F;
}
.sensor .value.inactive {
    
}


.sensor .value .action i {
    font-size: .8em;
}

.action.history {
    cursor: pointer;
    opacity: .25;
}
.action.history:hover {
    opacity: 1;
}
*/